<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars Data</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      </head>

      <body>
        <h1>Latest News</h1>
        <h2>{{mars_dict.newstitle}} </h2>
        <h3>{{mars_dict.newsdescription}}</h3>


        <h1>Featured Mars Image  </h1>
        <img> src={{mars_dict.featured_image_url}} alt = "Featured Mars Image"</img> 

        <h1>Mars Facts</h1>

        <table>{{mars_dict.html_table}}</table>

        <h1>Mars Hemispheres</h1>

        <h2>{{mars_dict.Cerebus_title}}</h2>
        <img> src={{mars_dict.Cerebus_url}} alt= "Cerebus" </img>

        <h2>{{mars_dict.Schiaparelli_title}}</h2>
        <img> src={{mars_dict.Schiaparelli_url}} alt= "Schiaparelli" </img>

        <h2>{{mars_dict.Syrtis_Major_title}}</h2>
        <img> src={{mars_dict.Syrtis_Major_url}} alt= "Syrtis_Major" </img>

        <h2>{{mars_dict.Valles_Marineris_title}}</h2>
        <img> src={{mars_dict.Valles_Marineris_url}} alt= "Valles_Marineris" </img>
      </body>

</html>
      



















      
</html>